.togglers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.togglers__control {
  display: flex;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    margin: auto;
    background-color: var(--color-darkblue-30);
    border-radius: 50%;
    cursor: pointer;
  }

  &--active::before {
    background-color: var(--color-white);
    box-shadow: 0 0 0 3px var(--color-darkblue);
  }
}
