{% extends 'layout.njk' %}

{% block main %}
  {% set mix = 'page-main__content' %}
  {% set slot = 'catalog' %}
  {% include 'blocks/content.njk' %}

  {% set mix = 'page-main__add' %}
  {% include 'blocks/add.njk' %}
{% endblock %}
