<section class="announce announce--{{ data.announce.id }} {{ mix }}">
  <h2 class="announce__title">{{ data.announce.title }}</h2>

  <p class="announce__description">{{ data.announce.description }}</p>

  <a class="announce__link" href="#!">{{ data.announce.linkText }}</a>
</section>
