<form class="form {{ mix }}" action="https://echo.htmlacademy.ru" method="post">
  {% for fieldset in data.fieldsets %}
    {% set mix = 'form__fieldset' %}
    {% include 'blocks/fieldset.njk' %}
  {% endfor %}

  <button class="button form__submit" type="submit">Отправить форму</button>

  <p class="form__description">
    <span class="form__sign">*</span> — обязательные поля
  </p>
</form>
