<header class="page-header {{ mix }}">
  <div class="page-header__top">
    {% set mix = 'page-header__logo' %}
    {% include 'blocks/logo.njk' %}

    <button class="page-header__toggler" type="button" aria-expanded="false" aria-controls="nav-menu">
      <span class="visually-hidden">{{ config.menu.label }}.</span>
    </button>
  </div>

  {% set mix = 'page-header__nav' %}
  {% include 'blocks/nav.njk' %}

  {% if data.promo %}
    {% set mix = 'page-header__promo' %}
    {% include 'blocks/promo.njk' %}
  {% else %}
    {% set mix = 'page-header__page-heading' %}
    {% include 'blocks/page-heading.njk' %}
  {% endif %}
</header>
