{% macro value(has, title, index) %}
  <td
    class="tariffs__detail {{ 'tariffs__detail--central' if index == 2 }}"
    data-title="{{ title }}"
  >
    <p class="tariffs__value tariffs__value--{{ has }}">
      <span class="visually-hidden">
        {{ 'Есть' if has == 'yes' else 'Нет' }}.
      </span>
    </p>
  </td>
{% endmacro %}

<table class="tariffs {{ mix }}">
  <thead class="tariffs__header">
    <tr class="tariffs__names">
      <th class="tariffs__empty" scope="col">
        <p class="visually-hidden">Свойства</p>
      </th>

      {% for tariff in data.tariffs.list %}
        <th
          class="tariffs__name {{ 'tariffs__name--central' if loop.index == 2 }} {{ 'labelled' if tariff.label }}"
          scope="col"
        >
          {{ tariff.title }}
          <p class="tariffs__price">{{ tariff.price }} USD</p>
          {% if tariff.label %}
            <p class="labelled__label">{{ tariff.label }}</p>
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>

  <tbody class="tariffs__props">
    {% for param in data.tariffs.params %}
      <tr class="tariffs__details">
        <th class="tariffs__detail" scope="row">{{ param.title }}</th>

        {% for tariff in data.tariffs.list %}
          {{ value(tariff[param.option], param.title, loop.index) }}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
