{% macro value(has) %}
  <td class="tariffs__detail">
    <p class="tariffs__value tariffs__value--{{ has }}">
      <span class="visually-hidden">
        {{ 'Есть' if has == 'yes' else 'Нет' }}.
      </span>
    </p>
  </td>
{% endmacro %}

<table class="tariffs {{ mix }}">
  <thead class="tariffs__header">
    <tr class="tariffs__names">
      <th class="tariffs__empty" scope="col">
        <p class="visually-hidden">Свойства</p>
      </th>

      {% for tariff in data.tariffs.list %}
        <th class="tariffs__name" scope="col">
          {{ tariff.title }}
          <p class="tariffs__price">{{ tariff.price }} USD</p>
        </th>
      {% endfor %}
    </tr>
  </thead>

  <tbody class="tariffs__props">
    {% for param in data.tariffs.params %}
      <tr class="tariffs__details">
        <th class="tariffs__detail" scope="row">{{ param.title }}</th>

        {% for tariff in data.tariffs.list %}
          {{ value(tariff[param.option]) }}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
